.cardContainer{
    width:306px;
    height:295px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin-right:20px;
}

.cardContainerTwo{
    width:306px;
    height:295px;
    border: 2px solid rgba(0, 0, 0, 0.3);
    border-radius: 20px;
    margin-right:20px;
    position:relative;
    top:60px;
}

.card{
   padding:20px 20px;
   position: relative;
   z-index: 2;
}

.card p{
    font-size: 11px;
}

.profileInfo{
    display: flex;
    justify-content: space-between;
}

.profileInfo img{
    width:100px;
    height: auto;
}

.info{
    color:#FFFFFF;
}

.info h3{
    font-size: 14px;
    padding-top:20px;
    padding-bottom:20px;
}

.info p{
    font-size: 11px;
    
}



.stars{
    display: flex;
    justify-content: center;
    padding-top:20px;
    padding-bottom: 30px;
   

}

.decorationCircle{
   position:absolute;
   border-radius: 15px 0px 0px;
   
}