.heroSection{
    background: url(./assets/HeroImage.png);
    background-size: cover;
    background-position: center;
    height:940px;
    width: 100%;
    display:flex;
    margin-bottom:40px;
    
}

.buttonWhatsapp{
    background-color: #9747FF;
    text-transform: uppercase;
    width:179px;
    height: 36px;
    border-radius: 10px;
    align-self: flex-end;
    display: flex;
    justify-content: center;
    align-items: center;
    position:relative;
    bottom: 160px;
    left: 150px;
    
}

.buttonWhatsapp span {
    font-weight: 700;
    color:#FFFFFF;
    font-size:12px;
    padding-left:15px;
}

.buttonWhatsapp:hover {
    
    background-color: #2c2a2a;
}